{% include 'header.html' %}
{% with messages= get_flashed_messages() %}

{% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for messages in messages %}
                {{ messages}}
        {% endfor%}
    </div>
{% endif %}

{% endwith %}

<br><br>
<form method="post" action="/store" enctype="multipart/form-data">

   <div class="card">
        <div class="card-header">
             Ingresar Empleados
        </div>
        <div class="card-body">
                <h4 class="card-title">Datos del Empleado</h4>
                <p class="card-text">

                <div class="form-group">
                  <label for="txtNombre">Nombre:</label>
                  <input type="text" name="txtNombre" id="txtNombre" class="form-control" placeholder="" aria-describedby="helpId">
                  <small id="helpId" class="text-muted">Help text</small>
                </div>

                <div class="form-group">
                   <label for="txtCorreo">Correo:</label>
                   <input type="text" name="txtCorreo" id="txtCorreo" class="form-control" placeholder="" aria-describedby="helpId">
                   <small id="helpId" class="text-muted">Help text</small>
                </div>
                
                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <input type="file" name="txtFoto" id="txtFoto" class="form-control" placeholder="" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>

                <div class="form-group">
                    <label for="txtFecha">Fecha:</label>
                    <input type="date" name="txtFecha" id="txtFecha" class="form-control" placeholder="" data-form-date aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Help text</small>
                </div>
    
                <div class="form-group">
                     <input type="submit" class="btn btn-success" value="Agregar">
                     <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                </div>
  
                </p>
        </div>
   </div>
   
        

</form>
{% include  'footer.html'%} 